/* NOTICIA PRINCIPAL */
.containerHealth {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
}

.infoPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerLinkPrincipal {
  padding: 40px 0px;
  display: flex;
  column-gap: 120px;
  border-bottom: 1px solid black;
}

/* SUBSCETIONS */

.containerSubSections {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  flex-wrap: wrap;
}

.subSection {
  display: flex;
}

.subSection h1 {
  font-size: 16px;
  margin-bottom: 10px;
}

.subSectionLargura {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 300px;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subSectionInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.divTeste {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subSectionLargura:last-child {
  border-right: 0px;
}

.divGrid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

.divGrid div {
  border-right: 1px solid black;
}

.divGrid p {
  width: 20ch;
  margin-bottom: 8px;
}
