/* NOTICIA PRINCIPAL */
.containerHealth {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: wrap;
}

.infoPrincipal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.containerLinkPrincipal {
  padding: 40px 0px;
  display: flex;
  column-gap: 120px;
  border-bottom: 1px solid black;
}

/* SUBSCETIONS */

.containerSubSections {
  display: flex;
  align-items: center;
  padding: 20px 0px;
  flex-wrap: wrap;
}

.subSection {
  display: flex;
  align-items: center;
}

.subSection h1 {
  font-size: 16px;
  margin-bottom: 10px;
}

.subSectionLargura {
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 350px;
  width: 33.33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.subSectionInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
.divTeste {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.subSectionLargura:last-child {
  border-right: 0px;
}

.divGrid {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  justify-content: center;
  gap: 40px;
  max-width: 1200px;
  box-sizing: border-box;
  margin: 0 auto;
}

.divGrid div {
  border-right: 1px solid #ccc;
}

.divGrid p {
  width: 20ch;
  margin-bottom: 8px;
}

.head {
  width: 80%;
  border-bottom: 1px solid #ccc;
  border-top: 2px solid #000;
  list-style-type: none;
  margin: 20px auto;
  padding: 0;
}

.head span {
  display: flex;
  padding: 5px 0;
  font-size: 18px;
  font-weight: bold;
  color: black;
  -webkit-text-decoration: none;
  text-decoration: none;
  padding: 13px 45px 8px;
}

.newsBoth {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
  max-width: 850px;
  margin: 0 auto;
}

.divChild {
  width: 350px;
  margin: 0 auto;
}

.divChild h1 {
  font-size: 20px;
}

.divChild h1:hover {
  text-decoration: underline;
}
