

.divGrid {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

.divGrid h2 {
    font-size: 10px;
}

.divGrid:nth-child(1) img {
    width: 600px;
}